services:
  blackbox-exporter:
    image: prom/blackbox-exporter:latest
    container_name: blackbox-exporter
    restart: unless-stopped

    ports:
      - "9115:9115"

    volumes:
      - ./blackbox.yml:/config/blackbox.yml:ro

    networks:
      - monitoring
      - database-net

    command:
      - "--config.file=/config/blackbox.yml"

networks:
  monitoring:
    name: monitoring
    external: true
  
  database-net:
    name: database-net
    external: true